.contents
  .main-content
    %header.main-content__header
      .messages
        -# - @messages.each do |message|
        .message
          = render 'message'
        .message
          = render partial: 'message'
        .message
          = render partial: 'message'#, locals: {message: message}
    %footer.main-content__footer
