$header_height: 100px;

.sidebar {
  background-color: #2f3e51;
  color: white;
  height: 100vh;
  width: 300px;
  display: flex;
  flex-direction: column;
}

.sidebar__header {
  background-color: #253141;
  box-sizing: border-box;
  height: $header_height;
  padding: 0px 20px;
  display: flex;
  align-items: center;
}

.sidebar__header__content {
  height: 40px;
  width: 100%;
  line-height: 40px;
  display: flex;
  justify-content: space-between;
}

.sidebar__header__content__user-name {
  font-size: 16px;
  font-weight: bold;
  // flex: 1
}

.sidebar__header__content__buttons {
  width: 60px;
}

.fa-button {
  width: 20px;
  text-align: center;
  margin: 0 5px;
  float: left;

    &:hover {

    }
}

.sidebar__content {
  height: calc(100vh - #{$header_height});
  padding: 0 20px;
}

.group {
  padding: 20px 0 40px 0;
}

.group__name {
  font-size: 15px;
}

.group__last-message {
  font-size: 11px;
  margin-top: 5px;
}
