@import "reset";
@import "sidebar";
@import "font-awesome";

$header_height: 100px;
$footer_height: 90px;

html, body{
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.contents {
  height: 100%;
  width: 100%;
  display: flex;
}

.main-content {
  height: 100vh;
  flex: 1;
  display: flex;
  flex-direction: column;


  &__header {
    height: $header_height;
    border-bottom: 1px solid #eee;
    padding: 0 40px;
    display: flex;
    justify-content: space-between;


    &__group-info {
      margin-top: 35px;

        ul {
          margin-top: 15px;

            li {
              margin: 0 5px;
              font-size: 12px;
              color: #999;
              float: left;
            }
        }

      &__group-name {
        font-weight: bold;
      }

      &__members {
        font-weight: bold;
      }
    }
  }

  &__form-container {
    background-color: #ddd;
    box-sizing: border-box;
    height: $footer_height;
    width: 100%;
    padding: 0 40px;
  }
}

.buttons {
  height: 100%;
  line-height: 80px;

  &__edit {
    box-sizing: border-box;
    height: 40px;
    color: #38aef0;
    border: 2px solid #38aef0;
    text-align: center;
    line-height: 36px;
    margin-top: 30px;
    padding: 0 20px;
  }
}

.messages {
  background-color: #fafafa;
  box-sizing: border-box;
  height: calc(100vh - #{$header_height} - #{$footer_height});
  width: 100%;
  overflow: scroll;
  display: block;
  padding:46px 40px;
  flex: 1;
}

.message {
  margin-bottom: 40px;

  &__top {
  height: 24px;
  width: 100%;
    p {
      float: left;
    }

    &__name {
      font-weight: bold;
      margin-right: 10px;
    }

    &__date {
      color: #999;
      font-size: 12px;
    }
  }

  &__text {
    font-size: 14px;
    min-height: 20px;
    margin-top: 10px;
    padding: 0;
    text-align: left;
  }
}

.message-form {
  box-sizing: border-box;
  height: 50px;
  margin-top: 20px;
  display: flex;

  &__input-container {
    box-sizing: border-box;
    flex: 1;
    margin-right: 15px;
    line-height: 50px;
    position: relative;

      &--input {
        box-sizing: border-box;
        color: #434a54;
        font-size: 16px;
        height: 100%;
        width: 100%;
        padding-left: 10px;
        padding-right: 40px;

        &__image {
          margin-right: 10px;
          position: absolute;
          line-height: 50px;
          top: 0;
          right: 0;
        }
      }
  }

  &__submit {
    background-color: #38aef0;
    color: white;
    height: 50px;
    width: 100px;
    text-align: center;
    border: 1px solid #38aef0;
  }
}
