@import "reset";

html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.main-content__header {
  background-color: #ccc;
  height: 80px;
  width: 100%;
  margin: 0;
  padding: 0;
  position: fixed;
}

.main-content__header__group-info {
  float: left;
}

.message {
  margin: 10px 0;
  padding: 0 40px;
}

.message__top {
  background-color: white;
  height: 24px;
  margin: 0;
  padding: 0;

    p {
      float: left;
    }
}

.message__text {
  min-height: 20px;
  margin-top: 10px;
  padding: 0;
  text-align: left;
}
